<div class="container" *ngIf="products && products.length">
    <div class="row">
        <div class="col-sm-10">
            <table class="mt-5 mb-5">
                <tr>
                    <th>S.No</th>
                    <th>Product Name</th>
                    <th>Market Price</th>
                    <th>Selling Price</th>
                    <th>Savings</th> 
                    <th>Food Category</th>
                    <th>Maufactured By</th>
                    <th>Product Actions</th>
                </tr>
                <tr *ngFor="let product of products">
                        <td>{{product.id}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.sellingPrice}}</td>
                        <td>{{product.price-product.sellingPrice}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.manufacturedBy}}</td>
                        <td>
                            <button class="btn btn-success px-3 py-1 my-2 ml-3" (click)="updateProduct(this.product.id)">Update</button>
                            <button class="btn btn-danger px-3 py-1 my-2 ml-3" (click)="deleteProduct(this.product.id)">Delete </button>
                        </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-2">
            
        </div>
    </div>
</div>