@import "./styles.scss";

.modal-backdrop {
  background-color: $white-color;

  &.show {
    opacity: 0.4 !important;
  }
}

.modal {
  overflow: auto;

  .full-modal {
    min-width: 100%;
    margin: 0;
    height: 100%;

    .modal-content {
      min-height: 100%;
      border: 0;

      .modal-header {
        border-radius: 0;
        width: 100%;
        top: 0;
      }
    }

    .modal-body {
      margin-bottom: 0;
    }

    .modal-sub-header {
      @extend .d-flex;
      justify-content: flex-end;
      @extend .align-items-center;
      align-items: center;
      @extend .border-bottom;
      position: sticky;
      height: 60px;
      z-index: 1051;
      top: 50px;

      .mx-auto + div {
        position: absolute;
        right: 20px;
      }
    }
  }

  @media (max-width: 576px) {
    .right-modal {
      margin-left: 0;
    }
  }

  .right-modal {
    @extend .border-left;
    @extend .d-flex;
    min-width: 30%;
    top: 0;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    overflow: hidden;
    flex-direction: column !important;

    .modal-header {
      width: 100%;
    }

    .modal-content {
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 100%;
    }

    .modal-body {
      margin-bottom: 60px;
    }

    .modal-footer {
      padding: 12px 20px;
      background-color: white;
      width: 100%;
      position: fixed;
      bottom: 0;
    }

    &.right-modal-sm {
      min-width: 35%;
    }

    &.right-modal-lg {
      min-width: 80%;
    }
  }
  //Common styles for modal popups
  .modal-content {
    background-color: white;
    overflow: unset;
    border: 0;
    border-radius: 0;

    .modal-header {
      height: 50px;
      min-height: 50px;
      background-color: #4A5363;
      border-radius: 0;
      padding: 0px 20px;
      align-items: center;

      &.header-lg {
        height: 90px;
      }

      .modal-title {
        color: white;
        font-size: 16px;
        font-weight: 400;
      }

      .fas {
        @extend .cursor-pointer;
        position: absolute;
        transition: 0.3s;
        right: 20px;
        color: #808080;

        &:hover {
          color: white;
        }
      }

      .form-control {
        &.editable {
          background-color: transparent !important;
          color: #808080 !important;

          &:hover {
            border-color: #808080 !important;
          }

          &:focus:hover {
            @extend .border;
          }
        }
      }
    }

    .modal-body {
      padding: 20px;
      border: 0;

      &.clear-padding {
        padding: 0px;
      }
    }

    .modal-footer {
      border-radius: 0;
    }
  }
  //modal bg-gray
  .bg-hover {
    .modal-content {
      @extend .bg-hover;
    }
  }
  //modal animations
  &.fade {
    .right-modal {
      -webkit-transform: translate(25%, 0);
      transform: translate(25%, 0);
    }
  }

  &.show {
    .right-modal {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
}

.large-modal {
  min-width: 800px;
}

.small-modal {
  max-width: 640px;
  @extend .border;
}

