<div class="navbar navbar-expand-md  navbar-dark">
    <a class="navbar-brand" href="#"><i class="fas fa-shopping-cart fa-2x"></i><span class="company"> Add To Cart</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="isLoggedIn" class="nav-item" style="padding-left:30px">
          <a class="nav-link" routerLink="products" routerLinkActive="active" style="color:white;">Products</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item" style="padding-left:30px">
          <a class="nav-link" routerLink="add-product" routerLinkActive="active" style="color:white">Add Product</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item" style="padding-left:30px">
          <a class="nav-link" routerLink="admin-login" routerLinkActive="active" style="color:white">Admin Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item" style="padding-left:30px">
          <a class="nav-link" (click)="logout()" routerLinkActive="active" style="color:white;cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>
</div>

<div>
    <router-outlet></router-outlet>
</div>