<div class="container">
    <h3 style="text-align: center; margin-top:10px; margin-bottom:10px"><b>Update Product Form</b></h3>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form *ngIf="productData" [formGroup]="updateProductForm">
                <div class="form-group">
                    <label>
                        Product Name
                        <span class="mandatory"> *</span>
                    </label>
                    <input type="text"
                           name="name"
                           class="form-control"
                           formControlName="productName"
                           autocomplete="off"
                           [class.border-danger]="updateProductForm.get('productName').invalid && (updateProductForm.get('productName').dirty || updateProductForm.get('productName').touched || isFormSubmitted)"/>
                        <div *ngFor="let validation of validationMessages.productName">
                            <small class="text-danger error" *ngIf="updateProductForm.get('productName').hasError(validation.type) && (updateProductForm.get('productName').dirty || updateProductForm.get('productName').touched || isFormSubmitted)">
                                     {{validation.message}}
                            </small>
                         </div>
                </div>
                <div class="form-group">
                    <label>
                        Price
                        <span class="mandatory"> *</span>
                    </label>
                    <input type="number"
                           name="price"
                           class="form-control"
                           formControlName="price"
                           autocomplete="off"
                           [class.border-danger]="updateProductForm.get('price').invalid && (updateProductForm.get('price').dirty || updateProductForm.get('price').touched || isFormSubmitted)"/>
                        <div *ngFor="let validation of validationMessages.price">
                            <small class="text-danger error" *ngIf="updateProductForm.get('price').hasError(validation.type) && (updateProductForm.get('price').dirty || updateProductForm.get('price').touched || isFormSubmitted)">
                                     {{validation.message}}
                            </small>
                         </div>
                </div>
                <div class="form-group">
                    <label>
                        Selling Price
                        <span class="mandatory"> *</span>
                    </label>
                    <input type="number"
                           name="sellingPrice"
                           class="form-control"
                           formControlName="sellingPrice"
                           autocomplete="off"
                           [class.border-danger]="updateProductForm.get('sellingPrice').invalid && (updateProductForm.get('sellingPrice').dirty || updateProductForm.get('sellingPrice').touched || isFormSubmitted)"/>
                        <div *ngFor="let validation of validationMessages.sellingPrice">
                            <small class="text-danger error" *ngIf="updateProductForm.get('sellingPrice').hasError(validation.type) && (updateProductForm.get('sellingPrice').dirty || updateProductForm.get('sellingPrice').touched || isFormSubmitted)">
                                     {{validation.message}}
                            </small>
                         </div>
                </div>
                <div class="form-group">
                    <label>
                        Manufactured By
                        <span class="mandatory"> *</span>
                    </label>
                    <input type="text"
                           name="manufacturedBy"
                           class="form-control"
                           formControlName="manufacturedBy"
                           autocomplete="off"
                           [class.border-danger]="updateProductForm.get('manufacturedBy').invalid && (updateProductForm.get('manufacturedBy').dirty || updateProductForm.get('manufacturedBy').touched || isFormSubmitted)"/>
                        <div *ngFor="let validation of validationMessages.manufacturedBy">
                            <small class="text-danger error" *ngIf="updateProductForm.get('manufacturedBy').hasError(validation.type) && (updateProductForm.get('manufacturedBy').dirty || updateProductForm.get('manufacturedBy').touched || isFormSubmitted)">
                                     {{validation.message}}
                            </small>
                         </div>
                </div>
                <div class="form-group">
                    <label>
                        Category
                        <span class="mandatory"> *</span>
                    </label>
                    <input type="text"
                           name="category"
                           class="form-control"
                           formControlName="category"
                           autocomplete="off"
                           [class.border-danger]="updateProductForm.get('category').invalid && (updateProductForm.get('category').dirty || updateProductForm.get('category').touched || isFormSubmitted)"/>
                        <div *ngFor="let validation of validationMessages.category">
                            <small class="text-danger error" *ngIf="updateProductForm.get('category').hasError(validation.type) && (updateProductForm.get('category').dirty || updateProductForm.get('category').touched || isFormSubmitted)">
                                     {{validation.message}}
                            </small>
                         </div>
                </div>
                <button class="btn my-2 mx-3" (click)="resetForm()">Reset</button>
                <button class="btn my-2 mx-3" (click)="updateProduct()">Update</button>
            </form>
        </div>
    </div>
</div>