button {
    background-color: #C70039;
    color:whitesmoke;
    font-weight: bold;
}

button:hover {
    color:black;
}

.mandatory {
    color: #C70039;
}

.fas {
    color:#C70039;
    margin-left:220px;
}